venv
__pycache__
# can't push these for copyright reasons :(
edge/front-end/songs/metadata.json
edge/front-end/songs/audio.mp3
/venv
.venv
edge/front-end/UI/__pycache__/
edge/front-end/__pycache__
/edge/front-end/voice_recording/*
/edge/front-end/record.py
/edge/tests/audio_source.py
/edge/front-end/player_poses/pose_locations.txt
/edge/front-end/user-audio/*
/edge/front-end/poses/*
/edge/front-end/player_poses/pose_locations.txt
/google-cloud-sdk